body {
    background-color: #E5E5E5;
}


.dashPastEvents {
    width: 800px;
}
.progressBorder {
        width: 260px;
    border-radius: 0 0 8px 8px;
    background-color: #333333;
    color: white;
    position: relative;
}

.percent {
    position: absolute;
    left: 10px;
    top: auto;
}

.progressInner {
    background-color: #9A2143;
    border-radius: 0 0 0 8px;
    height: 33px;
}

.eventContainer {
    background-color: #FFFFFF;
    width: 260px;
    height: 141px;

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.eventName {
    color: #2D758F;
    font-size: 22px;
    margin-left: 20px;
}

.eventDate {
    color: #333333;
    font-size: 16px;
    margin: 12px 20px;
}

.eventVenue {
    color: #000000;
    font-size: 16px;
    margin-left: 20px;
}