
html{
  /* background-color: burlywood; */
}
body{
  /* background: blue; */
  padding: 0px;
}
.App {
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
 justify-content: center;
}
.userHome{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}
.header{
  background: url('./images/image\ 1.png');
  background-position: center;
  background-size: cover;
 height:565px;
 width: 1512px;
   /* height: 70vh; */
  /* width: 99vw;  */
  /* padding: 10px; */
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */

}

.navigationBar{
  display: flex;
  list-style: none;
  color: white;
  width: 1069px;
  height: 46px;
  margin-top: 30px;
  justify-content: right;
  align-items: center;

}

.link{
  text-decoration: none;
  color: aliceblue;
  margin-right: 50px;
  font-size: 16px;
  
  
}
.login{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2D758F;
  font-size: 16px;
  text-align: center;
  width: 80px;
  height: 35px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}



.titleSignup{

margin-left: 413px;
margin-top: 150px;
}
.Title{
  /* border: 1px solid rgb(255, 252, 252); */
  /* margin-bottom: 1.5vmin; */
  font-size: 48px;
  width: 710px;
  height: 40px;
  margin-left: 413px;
margin-top: 150px;
}
.titleP{
  /* border: 1px solid rgb(255, 252, 252); */
height: 33px;
width: 391px;
margin-left: 538px;
margin-top: 3px;
font-size: 24px;

}

.signupForm{
height: 72px;
width: 710px;
margin-left: 401px;
top: 343px;
padding: 0px;
}


.nameSignup{
  border-radius: .5vmin;
  border:1px solid black;
  margin-right: 10px;
  width: 170px;
}
.emailSignup{
  border-radius: .5vmin;
  border:1px solid black;
  margin-right: 11px;
  width: 350px;
}
.buttons{
  width: 170px;
  background: #E23D6F;
  color: white;
  border: none;
  border-radius: 2px;
  padding-top: .5vmin;
  padding-bottom: .5vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
  font-size: 2vmin;
}

/* font-size: 48px;
height: 65px;
width: 641px; */
/* left: 413px;
top: 226px; */


.homePageSection{
  display: flex;
  border: 1px solid black;
  margin:10vmin;
  justify-content:space-evenly;
  height: 353px;
  width: 1070px;
}

.homepageComp{
  
  display: flex;
  flex-direction: column;
  justify-items: center;
  border: 1px solid black;
  text-align: left;
  margin: 5vmin;
}
.homepageComp p{
  height: 19vh;
  font-size: 11px ;
  text-align: left;
  border: 1px solid black;
  margin: 0px;
  /* margin:5vmin; */

}
.image{
  height: 44vh;
  width: 35vw;
  border-radius: .8vmin;
  margin: 7vmin;
}

.buttonTeal{
  background: #2D758F;
  
  width: 120px;
  height: 25px;
  border-radius: .8vmin;
  color: white;
  border: 1px solid black;
  text-decoration: none;
}

.footer{
  display: flex;
  background: black;
  color:white ;
  height: 15vh;
  font-size: 12px;
  text-align: left;
  padding-left: 15vw;
   align-items: center;
}


