body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  min-height: 100%;
  background-color: #e5e5e5;
}

/* DASHBOARD */

.dashboard {
  display: flex;
  flex-direction: row;
}

/* UPCOMING EVENTS */

.dashPastEvents {
  width: 800px;
}

.eventsHeader {
  width: 800px;
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  background-color: #9a2143;
  color: white;
  margin-bottom: 10px;
  border-radius: 8px;
}

.pastLink {
  margin: 29px 4px 20px 0;
  width: 128px;
  height: 25px;
}

a {
  color: white;
  margin-right: 20px;
  font-style: italic;
}

.eventHeaderText {
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;

  margin-left: 20px;
}

.progressBorder {
  width: 260px;
  border-radius: 0 0 8px 8px;
  background-color: #333333;
  color: white;
  position: relative;
}

.percent {
  position: absolute;
  left: 10px;
  top: auto;
}

.progressInner {
  background-color: #9a2143;
  border-radius: 0 0 0 8px;
  height: 33px;
}

.eventList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eventContainer {
  background-color: #ffffff;
  width: 260px;
  height: 141px;

  margin: 0 0 10px 0;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.eventName {
  color: #2d758f;
  font-size: 22px;
  margin-left: 20px;
}

.eventDate {
  color: #333333;
  font-size: 16px;
  margin: 12px 20px;
}

.eventVenue {
  color: #000000;
  font-size: 16px;
  margin-left: 20px;
}

/* NEW USERS */

.dashStats {
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.newUsers {
  background-color: white;
  border-radius: 8px;
  width: 440px;
  height: 255px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.newUsersHeader {
  background-color: #9a2143;
  color: #ffffff;
  border-radius: 8px 8px 0 0;
  width: 440px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.userHeaderMargin {
  margin-left: 20px;
}

.newUsersContainer {
  width: 400px;
  padding: 15px 0;
}

.userContainer {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #c4c4c4;
}

.userName,
.userEmail,
.userDate {
  margin: 3px 0;
}

.userName {
  width: 134px;
  text-align: left;
}

.userEmail {
  width: 180px;
  text-align: left;
}

.userDate {
  width: 85px;
}

/* USER INTERESTS */

.userInterests * {
}

.userInterests {
  width: 350px;
  height: 255px;
  background-color: #ffffff;
  border-radius: 8px;
}

.intHeaders {
  width: inherit;
  height: 40px;
  background: #9a2143;
  color: #ffffff;
  border-radius: 8px 8px 0 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.intHeaderText {
  margin-left: 20px;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.intMain {
  display: flex;
  flex-direction: row;
}

.intLeft {
  width: 50%;
}

.usersText {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #2d758f;
  margin: 20px 0 0 20px;
}

.bars {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fullBar {
  width: 100%;
  height: 28px;
  margin: 4px 0;
  display: flex;
  justify-content: flex-start;
}

.bar1 {
  background-color: #d33666;
  width: 50%;
}

.bar2 {
  background-color: #f3e45e;
  width: 65%;
}

.bar3 {
  background-color: #2d758f;
  width: 70%;
}

.intRight {
  width: 50%;
}

.pieChart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 15px 0;
}

.legend {
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px;
}

.legend-text {
  width: 50px;
  text-align: left;
}

.sports,
.music,
.film {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 6px;
}

.sports {
  background-color: #f3e45e;
}

.music {
  background-color: #2d758f;
}

.film {
  background-color: #d33666;
}

/* DASHBOARD NAV */

.dashGlobalNav {
  width: 260px;
  height: 100%;
  margin-right: 10px;
  background: #1e5b72;
}

.dashGlobalNav Link {
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.navHeader {
  margin: 40px 0;
}

.dashRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 36px;
  margin-bottom: 20px;
}

.dashIcon {
  width: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.dashLink {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}

.dashLink a {
  text-decoration: none;
  font-style: normal;
}

/* DASHBOARD HEADER */

.dash-search {
  margin: 0px;
  padding: 0px 40px;
  width: 720px;
  height: 40px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.search-icon {
  position: relative;
}

.search-icon img {
  position: absolute;
  left: 0;
  top: 20px;
  padding: 10px 10px;
  color: #30a3f1;
}

.dash-header__text {
  width: 780px;
  height: 75px;
  background: #9a2143;
  color: #ffffff;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 20px;
}

.dash-main {
  display: flex;
  flex-direction: row;
  height: 265px;
  width: 800px;
  margin-top: 10px;
}

.dash-left {
  width: 170px;
  height: 265px;
  border-radius: 8px;
  background-color: #ffffff;
  margin-right: 10px;
}

.dash-left--main {
  display: flex;
  height: 225px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dash-left-header {
  width: 150px;
  height: 40px;
  background: #9a2143;
  color: #ffffff;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.dash-right {
  width: 620px;
  height: 265px;
  border-radius: 8px;
  background-color: #ffffff;
}

.dash-right-header {
  width: 600px;
  height: 40px;
  background: #9a2143;
  color: #ffffff;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.linegraph {
  margin-top: 40px;
}

.dash-user-number {
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
  color: #2d758f;
}

.dash-unsub-number {
  font-family: Open Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;

  color: #2d758f;
}

.dash-user-unsub {
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
}
