body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #E5E5E5;
}


/* DASH GLOBAL NAV */

.dashGlobalNav {
  background: #1E5B72;
}



/* UPCOMING EVENTS */

.dashPastEvents {
  width: 800px;
}

.eventsHeader {
  width: 800px;
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  background-color:#9A2143;
  color: white;
  margin-bottom: 10px;
  border-radius: 8px;
}

.pastLink {
  margin: 29px 4px 20px 0;
  width: 128px;
  height: 25px;
}

a {
  color: white;
  margin-right: 20px;
  font-style: italic;
}

.eventHeaderText{
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  
  margin-left: 20px;
}

.progressBorder {
  width: 260px;
  border-radius: 0 0 8px 8px;
  background-color: #333333;
  color: white;
  position: relative;
}

.percent {
  position: absolute;
  left: 10px;
  top: auto;
}

.progressInner {
  background-color: #9A2143;
  border-radius: 0 0 0 8px;
  height: 33px;
}

.eventList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eventContainer {
  background-color: #FFFFFF;
  width: 260px;
  height: 141px;

  margin: 0 0 10px 0;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.eventName {
  color: #2D758F;
  font-size: 22px;
  margin-left: 20px;
}

.eventDate {
  color: #333333;
  font-size: 16px;
  margin: 12px 20px;
}

.eventVenue {
  color: #000000;
  font-size: 16px;
  margin-left: 20px;
}


/* NEW USERS */

.dashStats {
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newUsers {
  background-color: white;
  border-radius: 8px;
  width: 440px;
  height: 255px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.newUsersHeader {
  background-color: #9A2143;
  color: #FFFFFF;
  border-radius: 8px 8px 0 0;
  width: 440px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  
}

.userHeaderMargin {
  margin-left: 20px;
}

.newUsersContainer {
  width: 400px;
  padding: 15px 0;
}

.userContainer {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #c4c4c4;
}

.userName {
  width: 134px;
  text-align: left;
}

.userEmail {
  width: 180px;
  text-align: left;
}

.userDate {
  width: 85px;
}

/* USER INTERESTS */

.userInterests * {
}

.userInterests {
  width: 350px;
  height: 255px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.intHeaders {
  width: inherit;
  height: 40px;
  background: #9A2143;
  color: #FFFFFF;
  border-radius: 8px 8px 0 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.intHeaderText {
  margin-left: 20px;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.intMain {
  display: flex;
  flex-direction: row;
}

.intLeft {
  width: 50%;
}

.usersText {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #2D758F;
  margin: 20px 0 0 20px;
}

.bars {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fullBar {
  width: 100%;
  height: 28px;
  margin: 4px 0;
  display: flex;
  justify-content: flex-start;
}

.bar1{
  background-color: #D33666;
  width: 50%;
}

.bar2{
  background-color: #F3E45E;
  width: 65%;
}

.bar3{
  background-color: #2D758F;
  width: 70%;
}


.intRight {
  width: 50%;
}

.pieChart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend {
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2px;
}

.sports, .music, .film {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 6px;
}

.sports {
  background-color: #F3E45E;
}

.music {
  background-color: #2D758F;
}

.film {
  background-color: #D33666;
}